$color-main-bg: #F7F7F7;

$txt-main-color: #535261;
$txt-black: #000000;

$main-font: "Nunito";

$colors: (
  "blue": #4267b2,
  "orange": #ff9138,
  "pink": #fe7e73,
  "white": #fff,
  "black": #000,
  "red": #e73f3f,
  "yellow": #ffff00,
);
