@font-face {
  font-family: "Nunito";
  font-weight: normal;
  font-display: swap;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("../../shared/assets/font/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: bold;
  font-display: swap;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"),
    url("../../shared/assets/font/Nunito-ExtraBold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: $main-font;
}

html {
  font-size: 62.5%;
}

div#root {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: $main-font;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}


