.form {
  &__input {
    background: #ffffff;
    padding: 2rem;
    margin-right: 4rem;
    border-radius: 1.6rem;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  }

  &__title {
    color: #ff7506;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__notice {
    font-size: 1.4rem;
    padding-bottom: 5rem;

    span {
      margin-right: 0.5rem;
    }
  }

  .ant-input {
    border-radius: 0.8rem;

    &-password {
      border-radius: 0.8rem;
    }
  }

  &__tags {
    .ant-select-selection-item {
      border-radius: 0.8rem;
      background: #ffac6a;
      color: #fff;
      font-size: 14px;
      border-color: #ffac6a;
      margin: 0.5rem 0 2rem 0.5rem;
    }

    .anticon-close {
      color: #fff;
    }
  }

  .ant-btn {
    background-color: #ff9138;
    border: none;
    outline: none;
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 2rem;
    border-radius: 0.5rem;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.5s ease-in-out;
    }
  }
}
