@import "../styles/style";

.homepage {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background: #f7f7f7;

  &__sidebar {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);

    &__img {
      width: 10rem;
      margin: 20px auto;

      img {
        width: 100%;
      }
    }

    &__tab {
      margin-top: 50px;

      &__item {
        padding: 1.5rem;
        cursor: pointer;

        &.active {
          background-color: #ff7506;
          color: #fff;
        }

        &__label {
          span {
            margin-right: 10px;
          }
        }
      }
    }

    &__logoutBtn {
      position: absolute;
      bottom: 2rem;
      background: #fff2e7;
      color: #ff7506;
      font-weight: 600;
      text-shadow: none;
      box-shadow: none;
      border: none;
      outline: none;
      border-radius: 8px;
      padding: 10px 60px 30px 10px;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 18%;
        margin-right: 10px;
      }

      &:hover {
        background: #ff7506;
        color: #fff;
      }
    }
  }

  &__logoutBtn {
    position: absolute;
    bottom: 2rem;
    background: #fff2e7;
    color: #ff7506;
    font-weight: 600;
    text-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 60px 30px 10px;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 18%;
      margin-right: 10px;
    }

    &:hover {
      background: #ff7506;
      color: #fff;
    }
  }
}
